#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: px solid #fff;
    background: rgb(255, 255, 255);
    margin: auto;
    
}
header{
    width: 900px;
    height: 100px;
    border: 1px solid #000000;
}
#logo{
    width: 200px;
    height: 100px;
    float: left;
}
.menu{
    width: 250px;
    height: 50px;
    float: right;
    border: 1px solid #000000;
    margin-top: 44px;
    background: #006699;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 10px;
    color: #fff;
}
.menu ul li a:hover{
    background: rgb(83, 83, 83);
    color: aquamarine;
    transition: background 1s, color 1s;

}
#slide{
    margin-top: 10px;
    width: 1100px;
    height: 200px;
}
#categorias{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin-top: 10px;
}
.uno{
    width: 281px;
    height: 335px;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    text-align: center;
}
.dos{
    margin-left: 10px;
    margin-right: 10px;
}
.leer-mas{
    text-decoration: none;
    border: 1px solid #006699;
    padding: 5px 10px 5px 10px;
}
.leer-mas:hover{
    background: #006699;
    color: #fff;
    transition: background 1s, color 1s;
}



.classh1{
    text-align: center;
    color: #fff;
}
.classh2{
    color: #fff;
}

.classh3{
    text-align: center;
    color: rgb(252, 252, 252);
    padding: 15px;
}
.classh3logo{
    transform: translateX(10%);
}
.classp{
    text-align: center;
    color: #fff;    
}
.classplogo{
    transform: translateX(10%);
}

.tituloespecial{
    color:blue;
    font-size: 55px;
}

body{
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    text-align: center;
    color: #424242;
    width: 50%;
    max-width: 700px;
    height: 700px;
    transform: translateX(28%) translateY(10%);
}
.contenedorheader{
    background: #000000;
    max-width: 900px;
    height: 50px;
}
.img{
    width: 145px;
    transform: translateY(20%)
    
}
.imgslide{
    transform: translateX(1%)
}
.imgmia{
    height: 250px;
    width: 200px;
    transform: translateY(-3%);
    transform: translateX(175%);
}




label{
    color: #fff;
    display: flex;  
}  
.copyright{
    color: #c7c7c7;
}
.columna1{
     max-width: 300px;
     float: left;
}
.columna1 h2{
    font-size: 22px;
    color: #c7c7c7;
}
.columna2{
    max-width: 300px;
    float: left;
}
.columna2 h2{
    font-size: 22px;
    color: #c7c7c7;
}
.row{
    margin-top: 20px;
    display: flex;
    transform: translateX(300%);
}
.row img{
    width: 36px;
    height: 36px;
    transform: translateX(25%);
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.row label a{
    color: #c7c7c7;
}
.columna2 .classh2{
    transform: translateX(295%);
}
.footer{
    margin-top: 20px;
    width: 800px;
    margin-bottom: 1px;
    height: auto; overflow: hidden;
    padding: 50px;
    clear: both;
    background: #000000;
    text-align: center;
    color: #424242;
    transform: translateX(24%);
}
#txtNombreyApellido{
    transform: translateX(-17%);
    margin-bottom: 10px;
}
#txtEmail{
    transform: translateX(3%);
}
#txtMensaje{
    margin-bottom: 10px;
}
.btn{
    color: #000000;
    background: #fff;
    transform: translateX(40%);
    margin-bottom: 10px;
}
.btn:hover{
    background: #006699;
    color: #fff;
    transition: background 1s, color 1s;
}